{%- assign lang = include.lang -%}
{%- assign t = site.data.i18n[lang] -%}
{%- assign home = include.home -%}
<div style="height: 2.4em"></div>
{% include sechead.html title=t.sec.cv en="CV" lang=lang %}

<section id="education">
  <h3 class="cv-head">{{ t.sec.education }}</h3>
  {% include edu_list.html lang=lang %}
</section>

<section id="experience">
  <h3 class="cv-head">{{ t.sec.experience }}</h3>
  {% include exp_list.html lang=lang %}
</section>

<section id="grants">
  <h3 class="cv-head">{{ t.sec.grants }}</h3>
  {% include grant_list.html lang=lang %}
</section>

<section id="awards">
  <h3 class="cv-head">{{ t.sec.awards }}</h3>
  {% include award_list.html lang=lang limit=0 %}
</section>

<section id="talks">
  <h3 class="cv-head">{{ t.sec.talks }}</h3>
  {% include talk_list.html lang=lang limit=0 %}
</section>

<p class="more"><a href="{{ home | relative_url }}">{{ t.back_home }}</a></p>
